html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: lightgray;}

/*Temas de color*/
:root{
    --side-bar-color: #3DBFEF;
    --table-header-color: #8BE0FF;
}